/*
MUDBASESDK

MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: Flutterwave only for fiat (platform subscriptions + org payment processing with 7% + $0.50 split); crypto payment processor for multi-chain checkout - 📡 Block-based multi-chain wallet monitoring (ETH/UTXO scanners, GetBlock, scanner metrics API) - 🏢 Enterprise: custom domains under `GET/POST/PATCH/DELETE /api/orgs/{orgId}/projects/{projectId}/domains` (plan `features.customDomainAllowed`); stable error codes `hostname_in_use`, `domain_limit_reached`, `domain_rate_limited`, `custom_domain_not_allowed`, `provision_conflict`, `not_enterprise_plan`; internal `POST /internal/provision-enterprise` with header `X-Internal-Api-Key`; responses on platform host may include `X-Mudbase-Warning: use_dedicated_api` for dedicated orgs. 

API version: 1.2.10
Contact: support@mudbase.dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mudbase

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// OrganizationsAPIService OrganizationsAPI service
type OrganizationsAPIService service

type ApiOrganizationsAddDomainRequest struct {
	ctx context.Context
	ApiService *OrganizationsAPIService
	orgId string
	projectId string
	organizationsAddDomainRequest *OrganizationsAddDomainRequest
}

func (r ApiOrganizationsAddDomainRequest) OrganizationsAddDomainRequest(organizationsAddDomainRequest OrganizationsAddDomainRequest) ApiOrganizationsAddDomainRequest {
	r.organizationsAddDomainRequest = &organizationsAddDomainRequest
	return r
}

func (r ApiOrganizationsAddDomainRequest) Execute() (*http.Response, error) {
	return r.ApiService.OrganizationsAddDomainExecute(r)
}

/*
OrganizationsAddDomain Add custom domain

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId
 @param projectId
 @return ApiOrganizationsAddDomainRequest
*/
func (a *OrganizationsAPIService) OrganizationsAddDomain(ctx context.Context, orgId string, projectId string) ApiOrganizationsAddDomainRequest {
	return ApiOrganizationsAddDomainRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		projectId: projectId,
	}
}

// Execute executes the request
func (a *OrganizationsAPIService) OrganizationsAddDomainExecute(r ApiOrganizationsAddDomainRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationsAPIService.OrganizationsAddDomain")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/orgs/{orgId}/projects/{projectId}/domains"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationsAddDomainRequest == nil {
		return nil, reportError("organizationsAddDomainRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationsAddDomainRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOrganizationsListDomainsRequest struct {
	ctx context.Context
	ApiService *OrganizationsAPIService
	orgId string
	projectId string
}

func (r ApiOrganizationsListDomainsRequest) Execute() (*http.Response, error) {
	return r.ApiService.OrganizationsListDomainsExecute(r)
}

/*
OrganizationsListDomains List custom domains and DNS TXT hints

Owner/admin. Domains are per project. Returns dnsTxtHost, dnsTxtValue, platformActivationPending (dns_verified waiting for ops), and customDomainLiveForApiTraffic (active or legacy verified).


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId
 @param projectId
 @return ApiOrganizationsListDomainsRequest
*/
func (a *OrganizationsAPIService) OrganizationsListDomains(ctx context.Context, orgId string, projectId string) ApiOrganizationsListDomainsRequest {
	return ApiOrganizationsListDomainsRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		projectId: projectId,
	}
}

// Execute executes the request
func (a *OrganizationsAPIService) OrganizationsListDomainsExecute(r ApiOrganizationsListDomainsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationsAPIService.OrganizationsListDomains")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/orgs/{orgId}/projects/{projectId}/domains"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOrganizationsPatchDomainRequest struct {
	ctx context.Context
	ApiService *OrganizationsAPIService
	orgId string
	projectId string
	hostname string
	organizationsPatchDomainRequest *OrganizationsPatchDomainRequest
}

func (r ApiOrganizationsPatchDomainRequest) OrganizationsPatchDomainRequest(organizationsPatchDomainRequest OrganizationsPatchDomainRequest) ApiOrganizationsPatchDomainRequest {
	r.organizationsPatchDomainRequest = &organizationsPatchDomainRequest
	return r
}

func (r ApiOrganizationsPatchDomainRequest) Execute() (*http.Response, error) {
	return r.ApiService.OrganizationsPatchDomainExecute(r)
}

/*
OrganizationsPatchDomain Patch domain status or regenerate token

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId
 @param projectId
 @param hostname
 @return ApiOrganizationsPatchDomainRequest
*/
func (a *OrganizationsAPIService) OrganizationsPatchDomain(ctx context.Context, orgId string, projectId string, hostname string) ApiOrganizationsPatchDomainRequest {
	return ApiOrganizationsPatchDomainRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		projectId: projectId,
		hostname: hostname,
	}
}

// Execute executes the request
func (a *OrganizationsAPIService) OrganizationsPatchDomainExecute(r ApiOrganizationsPatchDomainRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationsAPIService.OrganizationsPatchDomain")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/orgs/{orgId}/projects/{projectId}/domains/{hostname}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hostname"+"}", url.PathEscape(parameterValueToString(r.hostname, "hostname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationsPatchDomainRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOrganizationsRemoveDomainRequest struct {
	ctx context.Context
	ApiService *OrganizationsAPIService
	orgId string
	projectId string
	hostname string
}

func (r ApiOrganizationsRemoveDomainRequest) Execute() (*http.Response, error) {
	return r.ApiService.OrganizationsRemoveDomainExecute(r)
}

/*
OrganizationsRemoveDomain Remove custom domain

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId
 @param projectId
 @param hostname
 @return ApiOrganizationsRemoveDomainRequest
*/
func (a *OrganizationsAPIService) OrganizationsRemoveDomain(ctx context.Context, orgId string, projectId string, hostname string) ApiOrganizationsRemoveDomainRequest {
	return ApiOrganizationsRemoveDomainRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		projectId: projectId,
		hostname: hostname,
	}
}

// Execute executes the request
func (a *OrganizationsAPIService) OrganizationsRemoveDomainExecute(r ApiOrganizationsRemoveDomainRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationsAPIService.OrganizationsRemoveDomain")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/orgs/{orgId}/projects/{projectId}/domains/{hostname}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hostname"+"}", url.PathEscape(parameterValueToString(r.hostname, "hostname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOrganizationsReportDomainPlatformReadyRequest struct {
	ctx context.Context
	ApiService *OrganizationsAPIService
	orgId string
	projectId string
	hostname string
	organizationsReportDomainPlatformReadyRequest *OrganizationsReportDomainPlatformReadyRequest
}

func (r ApiOrganizationsReportDomainPlatformReadyRequest) OrganizationsReportDomainPlatformReadyRequest(organizationsReportDomainPlatformReadyRequest OrganizationsReportDomainPlatformReadyRequest) ApiOrganizationsReportDomainPlatformReadyRequest {
	r.organizationsReportDomainPlatformReadyRequest = &organizationsReportDomainPlatformReadyRequest
	return r
}

func (r ApiOrganizationsReportDomainPlatformReadyRequest) Execute() (*http.Response, error) {
	return r.ApiService.OrganizationsReportDomainPlatformReadyExecute(r)
}

/*
OrganizationsReportDomainPlatformReady Notify platform ops hosting / edge ready

Legacy optional ops email. First Mudbase TXT success already emails ops. Allowed during platform setup after Mudbase TXT. Recipients default to admin@mudhaxkservices.com and admin@mudbase.dev when CUSTOM_DOMAIN_OPS_NOTIFY_EMAILS is unset. Returns 503 email_provider_not_configured if no email provider is configured. Does not change domain status.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId
 @param projectId
 @param hostname
 @return ApiOrganizationsReportDomainPlatformReadyRequest
*/
func (a *OrganizationsAPIService) OrganizationsReportDomainPlatformReady(ctx context.Context, orgId string, projectId string, hostname string) ApiOrganizationsReportDomainPlatformReadyRequest {
	return ApiOrganizationsReportDomainPlatformReadyRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		projectId: projectId,
		hostname: hostname,
	}
}

// Execute executes the request
func (a *OrganizationsAPIService) OrganizationsReportDomainPlatformReadyExecute(r ApiOrganizationsReportDomainPlatformReadyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationsAPIService.OrganizationsReportDomainPlatformReady")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/orgs/{orgId}/projects/{projectId}/domains/{hostname}/platform-ready"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hostname"+"}", url.PathEscape(parameterValueToString(r.hostname, "hostname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationsReportDomainPlatformReadyRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOrganizationsSetPrimaryDomainRequest struct {
	ctx context.Context
	ApiService *OrganizationsAPIService
	orgId string
	projectId string
	organizationsSetPrimaryDomainRequest *OrganizationsSetPrimaryDomainRequest
}

func (r ApiOrganizationsSetPrimaryDomainRequest) OrganizationsSetPrimaryDomainRequest(organizationsSetPrimaryDomainRequest OrganizationsSetPrimaryDomainRequest) ApiOrganizationsSetPrimaryDomainRequest {
	r.organizationsSetPrimaryDomainRequest = &organizationsSetPrimaryDomainRequest
	return r
}

func (r ApiOrganizationsSetPrimaryDomainRequest) Execute() (*http.Response, error) {
	return r.ApiService.OrganizationsSetPrimaryDomainExecute(r)
}

/*
OrganizationsSetPrimaryDomain Set primary custom domain

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId
 @param projectId
 @return ApiOrganizationsSetPrimaryDomainRequest
*/
func (a *OrganizationsAPIService) OrganizationsSetPrimaryDomain(ctx context.Context, orgId string, projectId string) ApiOrganizationsSetPrimaryDomainRequest {
	return ApiOrganizationsSetPrimaryDomainRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		projectId: projectId,
	}
}

// Execute executes the request
func (a *OrganizationsAPIService) OrganizationsSetPrimaryDomainExecute(r ApiOrganizationsSetPrimaryDomainRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationsAPIService.OrganizationsSetPrimaryDomain")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/orgs/{orgId}/projects/{projectId}/domains/primary"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationsSetPrimaryDomainRequest == nil {
		return nil, reportError("organizationsSetPrimaryDomainRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationsSetPrimaryDomainRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOrganizationsVerifyDomainDnsRequest struct {
	ctx context.Context
	ApiService *OrganizationsAPIService
	orgId string
	projectId string
	hostname string
}

func (r ApiOrganizationsVerifyDomainDnsRequest) Execute() (*http.Response, error) {
	return r.ApiService.OrganizationsVerifyDomainDnsExecute(r)
}

/*
OrganizationsVerifyDomainDns Verify domain via DNS TXT

On first success from pending/failed, status becomes cname_pending_staff; ops email once; audit org.domain.txt_verified and org.domain.cname_staff_queued.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId
 @param projectId
 @param hostname
 @return ApiOrganizationsVerifyDomainDnsRequest
*/
func (a *OrganizationsAPIService) OrganizationsVerifyDomainDns(ctx context.Context, orgId string, projectId string, hostname string) ApiOrganizationsVerifyDomainDnsRequest {
	return ApiOrganizationsVerifyDomainDnsRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		projectId: projectId,
		hostname: hostname,
	}
}

// Execute executes the request
func (a *OrganizationsAPIService) OrganizationsVerifyDomainDnsExecute(r ApiOrganizationsVerifyDomainDnsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationsAPIService.OrganizationsVerifyDomainDns")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/orgs/{orgId}/projects/{projectId}/domains/{hostname}/verify-dns"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hostname"+"}", url.PathEscape(parameterValueToString(r.hostname, "hostname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
