/*
MUDBASESDK

MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 📡 Block-based multi-chain wallet monitoring (ETH/UTXO scanners, GetBlock, scanner metrics API) - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

API version: 1.3.8
Contact: support@mudbase.dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mudbase

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VerifiedRoleUpgradeAPIService VerifiedRoleUpgradeAPI service
type VerifiedRoleUpgradeAPIService service

type ApiVerifiedRoleUpgradeRequest struct {
	ctx context.Context
	ApiService *VerifiedRoleUpgradeAPIService
	orgId string
	userId string
	verifiedRoleUpgradeRequest *VerifiedRoleUpgradeRequest
}

func (r ApiVerifiedRoleUpgradeRequest) VerifiedRoleUpgradeRequest(verifiedRoleUpgradeRequest VerifiedRoleUpgradeRequest) ApiVerifiedRoleUpgradeRequest {
	r.verifiedRoleUpgradeRequest = &verifiedRoleUpgradeRequest
	return r
}

func (r ApiVerifiedRoleUpgradeRequest) Execute() (*VerifiedRoleUpgrade200Response, *http.Response, error) {
	return r.ApiService.VerifiedRoleUpgradeExecute(r)
}

/*
VerifiedRoleUpgrade Verified role upgrade with payment verification

Upgrade user role after verifying payment and KYC. Prevents replay attacks.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId
 @param userId
 @return ApiVerifiedRoleUpgradeRequest
*/
func (a *VerifiedRoleUpgradeAPIService) VerifiedRoleUpgrade(ctx context.Context, orgId string, userId string) ApiVerifiedRoleUpgradeRequest {
	return ApiVerifiedRoleUpgradeRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		userId: userId,
	}
}

// Execute executes the request
//  @return VerifiedRoleUpgrade200Response
func (a *VerifiedRoleUpgradeAPIService) VerifiedRoleUpgradeExecute(r ApiVerifiedRoleUpgradeRequest) (*VerifiedRoleUpgrade200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VerifiedRoleUpgrade200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VerifiedRoleUpgradeAPIService.VerifiedRoleUpgrade")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/orgs/{orgId}/users/{userId}/upgrade"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.verifiedRoleUpgradeRequest == nil {
		return localVarReturnValue, nil, reportError("verifiedRoleUpgradeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.verifiedRoleUpgradeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
