/*
MUDBASESDK

MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 📡 Block-based multi-chain wallet monitoring (ETH/UTXO scanners, GetBlock, scanner metrics API) - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

API version: 1.3.9
Contact: support@mudbase.dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mudbase

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MultiRoleFeatureAPIService MultiRoleFeatureAPI service
type MultiRoleFeatureAPIService service

type ApiAddCustomRoleRequest struct {
	ctx context.Context
	ApiService *MultiRoleFeatureAPIService
	projectId string
	addCustomRoleRequest *AddCustomRoleRequest
}

func (r ApiAddCustomRoleRequest) AddCustomRoleRequest(addCustomRoleRequest AddCustomRoleRequest) ApiAddCustomRoleRequest {
	r.addCustomRoleRequest = &addCustomRoleRequest
	return r
}

func (r ApiAddCustomRoleRequest) Execute() (*ApplyRoleFeaturePreset200Response, *http.Response, error) {
	return r.ApiService.AddCustomRoleExecute(r)
}

/*
AddCustomRole Add custom role

Add a custom role to a project with specific permissions and signup endpoint.
Optional **`featurePermissions`** must align with app JWT gates — see `components/schemas/AppRoleFeaturePermissions`
and `services/appRoleFeatureMap.js`.
Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiAddCustomRoleRequest
*/
func (a *MultiRoleFeatureAPIService) AddCustomRole(ctx context.Context, projectId string) ApiAddCustomRoleRequest {
	return ApiAddCustomRoleRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ApplyRoleFeaturePreset200Response
func (a *MultiRoleFeatureAPIService) AddCustomRoleExecute(r ApiAddCustomRoleRequest) (*ApplyRoleFeaturePreset200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApplyRoleFeaturePreset200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiRoleFeatureAPIService.AddCustomRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{projectId}/multi-role/roles"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.addCustomRoleRequest == nil {
		return localVarReturnValue, nil, reportError("addCustomRoleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addCustomRoleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApplyRoleFeaturePresetRequest struct {
	ctx context.Context
	ApiService *MultiRoleFeatureAPIService
	projectId string
	roleSlug string
	applyRoleFeaturePresetRequest *ApplyRoleFeaturePresetRequest
}

func (r ApiApplyRoleFeaturePresetRequest) ApplyRoleFeaturePresetRequest(applyRoleFeaturePresetRequest ApplyRoleFeaturePresetRequest) ApiApplyRoleFeaturePresetRequest {
	r.applyRoleFeaturePresetRequest = &applyRoleFeaturePresetRequest
	return r
}

func (r ApiApplyRoleFeaturePresetRequest) Execute() (*ApplyRoleFeaturePreset200Response, *http.Response, error) {
	return r.ApiService.ApplyRoleFeaturePresetExecute(r)
}

/*
ApplyRoleFeaturePreset Apply Admin / User / Viewer feature permission preset

Sets `featurePermissions` on the role from a bundled preset (`admin`, `user`, `viewer`).
Does not change collection CRUD or `dataScope`; use collection permission APIs for those.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param roleSlug
 @return ApiApplyRoleFeaturePresetRequest
*/
func (a *MultiRoleFeatureAPIService) ApplyRoleFeaturePreset(ctx context.Context, projectId string, roleSlug string) ApiApplyRoleFeaturePresetRequest {
	return ApiApplyRoleFeaturePresetRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		roleSlug: roleSlug,
	}
}

// Execute executes the request
//  @return ApplyRoleFeaturePreset200Response
func (a *MultiRoleFeatureAPIService) ApplyRoleFeaturePresetExecute(r ApiApplyRoleFeaturePresetRequest) (*ApplyRoleFeaturePreset200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApplyRoleFeaturePreset200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiRoleFeatureAPIService.ApplyRoleFeaturePreset")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{projectId}/multi-role/roles/{roleSlug}/apply-preset"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"roleSlug"+"}", url.PathEscape(parameterValueToString(r.roleSlug, "roleSlug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.applyRoleFeaturePresetRequest == nil {
		return localVarReturnValue, nil, reportError("applyRoleFeaturePresetRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.applyRoleFeaturePresetRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAvailableRolesRequest struct {
	ctx context.Context
	ApiService *MultiRoleFeatureAPIService
	projectId string
}

func (r ApiGetAvailableRolesRequest) Execute() (*GetAvailableRoles200Response, *http.Response, error) {
	return r.ApiService.GetAvailableRolesExecute(r)
}

/*
GetAvailableRoles Get available roles for signup

Get all available roles for user signup in a project.
Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiGetAvailableRolesRequest
*/
func (a *MultiRoleFeatureAPIService) GetAvailableRoles(ctx context.Context, projectId string) ApiGetAvailableRolesRequest {
	return ApiGetAvailableRolesRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return GetAvailableRoles200Response
func (a *MultiRoleFeatureAPIService) GetAvailableRolesExecute(r ApiGetAvailableRolesRequest) (*GetAvailableRoles200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAvailableRoles200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiRoleFeatureAPIService.GetAvailableRoles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{projectId}/multi-role/roles/available"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMultiRoleConfigRequest struct {
	ctx context.Context
	ApiService *MultiRoleFeatureAPIService
	projectId string
}

func (r ApiGetMultiRoleConfigRequest) Execute() (*GetMultiRoleConfig200Response, *http.Response, error) {
	return r.ApiService.GetMultiRoleConfigExecute(r)
}

/*
GetMultiRoleConfig Get multi-role feature configuration

Returns project app roles (default one editable `customer` starter until you add more) and settings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiGetMultiRoleConfigRequest
*/
func (a *MultiRoleFeatureAPIService) GetMultiRoleConfig(ctx context.Context, projectId string) ApiGetMultiRoleConfigRequest {
	return ApiGetMultiRoleConfigRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return GetMultiRoleConfig200Response
func (a *MultiRoleFeatureAPIService) GetMultiRoleConfigExecute(r ApiGetMultiRoleConfigRequest) (*GetMultiRoleConfig200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetMultiRoleConfig200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiRoleFeatureAPIService.GetMultiRoleConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{projectId}/multi-role"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPermissionsMatrixRequest struct {
	ctx context.Context
	ApiService *MultiRoleFeatureAPIService
	projectId string
}

func (r ApiGetPermissionsMatrixRequest) Execute() (*GetPermissionsMatrix200Response, *http.Response, error) {
	return r.ApiService.GetPermissionsMatrixExecute(r)
}

/*
GetPermissionsMatrix Get permissions matrix (collections + featurePermissions)

Dashboard helper: per-collection permission rows (role actions, `dataScope`, conditions) and a per-role
`featurePermissions` snapshot used by app-role feature gates (messaging, integrations, storage, etc.).


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiGetPermissionsMatrixRequest
*/
func (a *MultiRoleFeatureAPIService) GetPermissionsMatrix(ctx context.Context, projectId string) ApiGetPermissionsMatrixRequest {
	return ApiGetPermissionsMatrixRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return GetPermissionsMatrix200Response
func (a *MultiRoleFeatureAPIService) GetPermissionsMatrixExecute(r ApiGetPermissionsMatrixRequest) (*GetPermissionsMatrix200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetPermissionsMatrix200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiRoleFeatureAPIService.GetPermissionsMatrix")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{projectId}/permissions-matrix"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOauthSignupWithRoleRequest struct {
	ctx context.Context
	ApiService *MultiRoleFeatureAPIService
	role string
	provider string
	projectId string
	redirectUrl *string
}

// The URL to redirect to after authentication
func (r ApiOauthSignupWithRoleRequest) RedirectUrl(redirectUrl string) ApiOauthSignupWithRoleRequest {
	r.redirectUrl = &redirectUrl
	return r
}

func (r ApiOauthSignupWithRoleRequest) Execute() (*http.Response, error) {
	return r.ApiService.OauthSignupWithRoleExecute(r)
}

/*
OauthSignupWithRole OAuth signup with specific role

Public endpoint that initiates OAuth signup flow with a specific role assigned during registration.
The OAuth provider must be configured and enabled for the project first.
The role must be available for signup in the project's multi-role configuration.
After successful OAuth authentication, the user will be created with the specified role.
No authentication required - this is a public signup endpoint.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param role Path segment must match the role's `signupEndpoint` (default `customer`; use each role's configured endpoint).
 @param provider
 @param projectId
 @return ApiOauthSignupWithRoleRequest
*/
func (a *MultiRoleFeatureAPIService) OauthSignupWithRole(ctx context.Context, role string, provider string, projectId string) ApiOauthSignupWithRoleRequest {
	return ApiOauthSignupWithRoleRequest{
		ApiService: a,
		ctx: ctx,
		role: role,
		provider: provider,
		projectId: projectId,
	}
}

// Execute executes the request
func (a *MultiRoleFeatureAPIService) OauthSignupWithRoleExecute(r ApiOauthSignupWithRoleRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiRoleFeatureAPIService.OauthSignupWithRole")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/auth/oauth/signup/{role}/{provider}/{projectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"role"+"}", url.PathEscape(parameterValueToString(r.role, "role")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.redirectUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "redirect_url", r.redirectUrl, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InitiateOrgOAuth400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InitiateOAuth404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRegisterWithRoleRequest struct {
	ctx context.Context
	ApiService *MultiRoleFeatureAPIService
	role string
	registerWithRoleRequest *RegisterWithRoleRequest
}

func (r ApiRegisterWithRoleRequest) RegisterWithRoleRequest(registerWithRoleRequest RegisterWithRoleRequest) ApiRegisterWithRoleRequest {
	r.registerWithRoleRequest = &registerWithRoleRequest
	return r
}

func (r ApiRegisterWithRoleRequest) Execute() (*RegisterWithRole201Response, *http.Response, error) {
	return r.ApiService.RegisterWithRoleExecute(r)
}

/*
RegisterWithRole Register user with specific role (Local Auth)

Public endpoint for user registration with a specific role. The path segment must match a role's `signupEndpoint` (default starter is `customer`; add more roles via multi-role API).
No authentication required - this is a public signup endpoint.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param role Must match the role's `signupEndpoint` (default `customer`; other values for roles you add).
 @return ApiRegisterWithRoleRequest
*/
func (a *MultiRoleFeatureAPIService) RegisterWithRole(ctx context.Context, role string) ApiRegisterWithRoleRequest {
	return ApiRegisterWithRoleRequest{
		ApiService: a,
		ctx: ctx,
		role: role,
	}
}

// Execute executes the request
//  @return RegisterWithRole201Response
func (a *MultiRoleFeatureAPIService) RegisterWithRoleExecute(r ApiRegisterWithRoleRequest) (*RegisterWithRole201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RegisterWithRole201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiRoleFeatureAPIService.RegisterWithRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/auth/local/signup/{role}"
	localVarPath = strings.Replace(localVarPath, "{"+"role"+"}", url.PathEscape(parameterValueToString(r.role, "role")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.registerWithRoleRequest == nil {
		return localVarReturnValue, nil, reportError("registerWithRoleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.registerWithRoleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSimulateAppPermissionsRequest struct {
	ctx context.Context
	ApiService *MultiRoleFeatureAPIService
	projectId string
	simulateAppPermissionsRequest *SimulateAppPermissionsRequest
}

func (r ApiSimulateAppPermissionsRequest) SimulateAppPermissionsRequest(simulateAppPermissionsRequest SimulateAppPermissionsRequest) ApiSimulateAppPermissionsRequest {
	r.simulateAppPermissionsRequest = &simulateAppPermissionsRequest
	return r
}

func (r ApiSimulateAppPermissionsRequest) Execute() (*SimulateAppPermissions200Response, *http.Response, error) {
	return r.ApiService.SimulateAppPermissionsExecute(r)
}

/*
SimulateAppPermissions Simulate app-role feature permission for a path

Dashboard-only. Given an app role slug and either an OpenAPI `operationId` **or** HTTP method + pathname,
returns whether the role's `featurePermissions` would allow the operation for paths that have a feature gate.
Unmapped paths or unknown operation IDs return `allowed: true` with reason `no_feature_gate_for_path` or
`no_feature_gate_for_operation_id`.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiSimulateAppPermissionsRequest
*/
func (a *MultiRoleFeatureAPIService) SimulateAppPermissions(ctx context.Context, projectId string) ApiSimulateAppPermissionsRequest {
	return ApiSimulateAppPermissionsRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return SimulateAppPermissions200Response
func (a *MultiRoleFeatureAPIService) SimulateAppPermissionsExecute(r ApiSimulateAppPermissionsRequest) (*SimulateAppPermissions200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SimulateAppPermissions200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiRoleFeatureAPIService.SimulateAppPermissions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{projectId}/multi-role/simulate-permissions"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.simulateAppPermissionsRequest == nil {
		return localVarReturnValue, nil, reportError("simulateAppPermissionsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.simulateAppPermissionsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiToggleRoleRequest struct {
	ctx context.Context
	ApiService *MultiRoleFeatureAPIService
	projectId string
	roleSlug string
	toggleRoleRequest *ToggleRoleRequest
}

func (r ApiToggleRoleRequest) ToggleRoleRequest(toggleRoleRequest ToggleRoleRequest) ApiToggleRoleRequest {
	r.toggleRoleRequest = &toggleRoleRequest
	return r
}

func (r ApiToggleRoleRequest) Execute() (*ApplyRoleFeaturePreset200Response, *http.Response, error) {
	return r.ApiService.ToggleRoleExecute(r)
}

/*
ToggleRole Toggle role on/off

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param roleSlug Role slug to toggle (e.g. starter `customer` or a role you added).
 @return ApiToggleRoleRequest
*/
func (a *MultiRoleFeatureAPIService) ToggleRole(ctx context.Context, projectId string, roleSlug string) ApiToggleRoleRequest {
	return ApiToggleRoleRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		roleSlug: roleSlug,
	}
}

// Execute executes the request
//  @return ApplyRoleFeaturePreset200Response
func (a *MultiRoleFeatureAPIService) ToggleRoleExecute(r ApiToggleRoleRequest) (*ApplyRoleFeaturePreset200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApplyRoleFeaturePreset200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiRoleFeatureAPIService.ToggleRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{projectId}/multi-role/roles/{roleSlug}/toggle"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"roleSlug"+"}", url.PathEscape(parameterValueToString(r.roleSlug, "roleSlug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.toggleRoleRequest == nil {
		return localVarReturnValue, nil, reportError("toggleRoleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.toggleRoleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateCollectionPermissionsRequest struct {
	ctx context.Context
	ApiService *MultiRoleFeatureAPIService
	projectId string
	roleSlug string
	collectionId string
	updateCollectionPermissionsRequest *UpdateCollectionPermissionsRequest
}

func (r ApiUpdateCollectionPermissionsRequest) UpdateCollectionPermissionsRequest(updateCollectionPermissionsRequest UpdateCollectionPermissionsRequest) ApiUpdateCollectionPermissionsRequest {
	r.updateCollectionPermissionsRequest = &updateCollectionPermissionsRequest
	return r
}

func (r ApiUpdateCollectionPermissionsRequest) Execute() (*ApplyRoleFeaturePreset200Response, *http.Response, error) {
	return r.ApiService.UpdateCollectionPermissionsExecute(r)
}

/*
UpdateCollectionPermissions Update collection permissions for a role

Update collection-specific permissions for a role in a project.
Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param roleSlug Role slug (e.g. starter `customer` or a role you added).
 @param collectionId
 @return ApiUpdateCollectionPermissionsRequest
*/
func (a *MultiRoleFeatureAPIService) UpdateCollectionPermissions(ctx context.Context, projectId string, roleSlug string, collectionId string) ApiUpdateCollectionPermissionsRequest {
	return ApiUpdateCollectionPermissionsRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		roleSlug: roleSlug,
		collectionId: collectionId,
	}
}

// Execute executes the request
//  @return ApplyRoleFeaturePreset200Response
func (a *MultiRoleFeatureAPIService) UpdateCollectionPermissionsExecute(r ApiUpdateCollectionPermissionsRequest) (*ApplyRoleFeaturePreset200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApplyRoleFeaturePreset200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiRoleFeatureAPIService.UpdateCollectionPermissions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{projectId}/multi-role/roles/{roleSlug}/collections/{collectionId}/permissions"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"roleSlug"+"}", url.PathEscape(parameterValueToString(r.roleSlug, "roleSlug")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"collectionId"+"}", url.PathEscape(parameterValueToString(r.collectionId, "collectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateCollectionPermissionsRequest == nil {
		return localVarReturnValue, nil, reportError("updateCollectionPermissionsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateCollectionPermissionsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateMultiRoleSettingsRequest struct {
	ctx context.Context
	ApiService *MultiRoleFeatureAPIService
	projectId string
	updateMultiRoleSettingsRequest *UpdateMultiRoleSettingsRequest
}

func (r ApiUpdateMultiRoleSettingsRequest) UpdateMultiRoleSettingsRequest(updateMultiRoleSettingsRequest UpdateMultiRoleSettingsRequest) ApiUpdateMultiRoleSettingsRequest {
	r.updateMultiRoleSettingsRequest = &updateMultiRoleSettingsRequest
	return r
}

func (r ApiUpdateMultiRoleSettingsRequest) Execute() (*UpdateMultiRoleSettings200Response, *http.Response, error) {
	return r.ApiService.UpdateMultiRoleSettingsExecute(r)
}

/*
UpdateMultiRoleSettings Update multi-role feature settings

Update multi-role feature settings for a project: enable/disable the feature, set which app role is the default at signup, and tune `settings` (`allowMultipleRoles`, `requireRoleSelection`, `autoAssignDefault`).
This endpoint does **not** edit role definitions or permissions — use `POST/PATCH .../multi-role/roles` for that (same shape as **Add custom role**).
Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ApiUpdateMultiRoleSettingsRequest
*/
func (a *MultiRoleFeatureAPIService) UpdateMultiRoleSettings(ctx context.Context, projectId string) ApiUpdateMultiRoleSettingsRequest {
	return ApiUpdateMultiRoleSettingsRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return UpdateMultiRoleSettings200Response
func (a *MultiRoleFeatureAPIService) UpdateMultiRoleSettingsExecute(r ApiUpdateMultiRoleSettingsRequest) (*UpdateMultiRoleSettings200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateMultiRoleSettings200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiRoleFeatureAPIService.UpdateMultiRoleSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{projectId}/multi-role/settings"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateMultiRoleSettingsRequest == nil {
		return localVarReturnValue, nil, reportError("updateMultiRoleSettingsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateMultiRoleSettingsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateProjectRoleRequest struct {
	ctx context.Context
	ApiService *MultiRoleFeatureAPIService
	projectId string
	roleSlug string
	updateProjectRoleRequest *UpdateProjectRoleRequest
}

// Same fields as **Add custom role** — send only fields you want to change. &#x60;defaultPermissions&#x60; / &#x60;collectionPermissions&#x60; are normalized the same way as on create. **&#x60;featurePermissions&#x60;:** &#x60;components/schemas/AppRoleFeaturePermissions&#x60; (aligned with &#x60;services/appRoleFeatureMap.js&#x60;). 
func (r ApiUpdateProjectRoleRequest) UpdateProjectRoleRequest(updateProjectRoleRequest UpdateProjectRoleRequest) ApiUpdateProjectRoleRequest {
	r.updateProjectRoleRequest = &updateProjectRoleRequest
	return r
}

func (r ApiUpdateProjectRoleRequest) Execute() (*ApplyRoleFeaturePreset200Response, *http.Response, error) {
	return r.ApiService.UpdateProjectRoleExecute(r)
}

/*
UpdateProjectRole Update role configuration

Partial update of an app role. **`featurePermissions`** keys must match the app-role gate map
(`services/appRoleFeatureMap.js`); schema: `components/schemas/AppRoleFeaturePermissions`.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @param roleSlug Role slug to update (e.g. starter `customer` or a role you added).
 @return ApiUpdateProjectRoleRequest
*/
func (a *MultiRoleFeatureAPIService) UpdateProjectRole(ctx context.Context, projectId string, roleSlug string) ApiUpdateProjectRoleRequest {
	return ApiUpdateProjectRoleRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
		roleSlug: roleSlug,
	}
}

// Execute executes the request
//  @return ApplyRoleFeaturePreset200Response
func (a *MultiRoleFeatureAPIService) UpdateProjectRoleExecute(r ApiUpdateProjectRoleRequest) (*ApplyRoleFeaturePreset200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApplyRoleFeaturePreset200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiRoleFeatureAPIService.UpdateProjectRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{projectId}/multi-role/roles/{roleSlug}"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"roleSlug"+"}", url.PathEscape(parameterValueToString(r.roleSlug, "roleSlug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateProjectRoleRequest == nil {
		return localVarReturnValue, nil, reportError("updateProjectRoleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateProjectRoleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
